<!DOCTYPE HTML>
<html>
  <head>
    <title>ReviewR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/homepage/5a57af5e7478/assets/css/homepage-pkg.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="https://s3-media4.fl.yelpcdn.com/assets/2/www/css/318398ec09ec/www-pkg.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://s3-media3.fl.yelpcdn.com/assets/2/www/css/015ac64acd6a/user_details-pkg.css">
    
  </head>
  <body>
    
  <noscript>
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/svg_icons/1421d1203d09/assets/sprite.css">
</noscript>
<% include header.ejs %>

<div class="main-content-wrap main-content-wrap--full">
        <div class="top-shelf top-shelf-grey">
                <div class="content-container">
                    
        <div id="alert-container">
    
        </div>
    
    
                        <div class="user-profile_container">
            <div class="user-profile_avatar">
                <div class="photo-slideshow photo-slideshow--full-width photo-slideshow--rounded js-photo-slideshow-user-details">
                    <div class="photo-slideshow_slide is-active" style="background-image: url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/7e4e0dfd903f/assets/img/default_avatars/user_large_square.png);">
                        <div class="photo-slideshow_image">
                                        <a href="/user_photos?userid=MAV7Ljn1cU4HxhSbb6PXrg">
                
                    <img class="photo-box-img" height="250" src="https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/7e4e0dfd903f/assets/img/default_avatars/user_large_square.png" width="250">
    
    
            </a>
    
    
                        </div>
                            
    
      
    
                    </div>
                </div>
            </div>
            <div class="user-profile_content-wrapper arrange arrange--bottom arrange--30">
                <div class="user-profile_avatar-dummy arrange_unit" aria-hidden="true"></div>
                <div class="user-profile_info arrange_unit">
                    <h1><%= user.name %></h1>
                        <h3 class="user-location alternate"><%= user.city %>, <%=user.state %></h3>
                    <div class="clearfix">
                        
    
                        <div class="biz-main-info embossed-text-white">
                            <div class="rating-info clearfix">
                                        <div class="biz-rating biz-rating-very-large clearfix" >
                                
                      
                      
                      
                      
                      <div class="i-stars i-stars--large-<%= Math.floor(user.rating) %> rating-very-large" title="5.0 star rating">
                        <img class="offscreen" height="303" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png" width="84" alt="5.0 star rating">
                      </div>
                      
                      
                      
                                    <span class="review-count rating-qualifier">
                            <%=user.numreviews %> reviews
                      </span>
                      
                        </div>
                        <ul class="action-link-list">
                            <li>
                                
                    
                    
                        <a class="arrange arrange--middle" href="/business-profile" rel="">
                            <div class="action-link_icon arrange_unit">
                                <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-feed icon--size-18 icon--currentColor">
                        <svg class="icon_svg">
                            <use xlink:href="#18x18_feed" />
                        </svg>
                    </span>
                            </div>
                            <div class="action-link_label arrange_unit arrange_unit--fill">
                         Update Your Profile
                            </div>
                        </a>
                    
                            </li>
                    
                           
                    
                    
                        </ul>
                    
                                </div>
                      
                      
                            </div>
    
                    </div>
                    
                </div>
                <div class="biz-page-header-right u-relative">
                    <div class="biz-page-actions nowrap"> 
         
          </div>
            </div>
        </div>
    
    
                    
    
                </div>
        </div>
    
                        <div id="super-container" class="content-container">
    
        <div class="clearfix layout-block layout-n user-details_container">
        <div class="column column-alpha user-details_sidebar">
                    <div class="ysection">
                        
    
        <div class="titled-nav js-titled-nav">
            
        <input id="titled-nav-db377759-3032-4042-b221-4dce77b93849" class="titled-nav-dropdown_handler" type="checkbox" role="presentation">
    
        <div class="titled-nav-dropdown hidden-non-responsive-block responsive-hidden-large">
            <label for="titled-nav-db377759-3032-4042-b221-4dce77b93849" class="titled-nav-dropdown_trigger">
                <span class="arrange arrange--middle titled-nav-dropdown_content">
                    <span class="arrange_unit arrange_unit--fill titled-nav-dropdown_shadow">
                        <span class="titled-nav-dropdown_faded-title">
                                <strong><%= user.name %>'sProfile</strong>
    
                            Business Overview
    
                        </span>
                    </span>
    
                    <span class="arrange_unit titled-nav-dropdown_icon">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-chevron-down icon--size-24 titled-nav-dropdown_expand">
        <svg class="icon_svg">
            <use xlink:href="#24x24_chevron_down" />
        </svg>
    </span>
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-chevron-up icon--size-24 titled-nav-dropdown_collapse">
        <svg class="icon_svg">
            <use xlink:href="#24x24_chevron_up" />
        </svg>
    </span>
                    </span>
                </span>
            </label>
        </div>
    
    
            <div class="titled-nav_menus">
                    
    
            <div class="titled-nav_menu">
                    <div class="titled-nav-header">
            <div class="arrange arrange--top">
    
                <div class="arrange_unit arrange_unit--fill">
                    <div class="titled-nav-header_content">
                        <h3><%= user.name %>'s Profile</h3>
                    </div>
                </div>
    
                <div class="arrange_unit">
                </div>
    
            </div>
        </div>
    
                <ul class="titled-nav_items">
                        
    
        <li class="titled-nav_item">
            <a class="titled-nav_link is-active" >
                    <div class="titled-nav_link-content arrange arrange--middle arrange--6">
    
                <div class="arrange_unit">
                    <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-profile icon--size-24 titled-nav_icon">
        <svg class="icon_svg">
            <use xlink:href="#24x24_profile" />
        </svg>
    </span>
                </div>
    
            <div class="arrange_unit arrange_unit--fill">
                <span class="titled-nav_link-label">Business Overview</span>
            </div>
    
    
            
    
        </div>
    
            </a>
    
        </li>
                </ul>
            </div>
    
                <div class="titled-nav-header responsive-hidden-large" role="presentation"></div>
            </div>
        </div>
    
                    </div>
        </div>
        <div class="column column-beta ">
        <div class="user-details-overview">
            <div class="user-details-overview_activity">
             
        
    
                    
    
                        <div class="user-details-overview_reviews">
                        <div class="review-drafts-container js-review-drafts-container">
    
                    
    
        </div>
    
    
                    
    
        </div>
    
                        <div class="user-details-overview_self-feed">
            <div class="ysection clearfix activity-feed js-activity-feed">
                <div class="section-header u-space-bottom-none">
                    <h2>Reviews</h2>
                </div>
                    <div class="feeds feed-module">
            <ul class="content-list">
                
                    <% for(var i=reviews.length-1; 0<=i; i--) {%>
                        <li data-section-id="self">
                     <ul class="ylist ylist-bordered">
                     <li class="review-block media-block media-block--12" data-item-type="review">
                             <div class="media-avatar">
                 <div class="photo-box pb-60s">
                         <a class="js-analytics-click" data-analytics-label="user-photo" href="/user_details?userid=MAV7Ljn1cU4HxhSbb6PXrg">
                             <img alt="" class="photo-box-img" height="60" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/514f6997a318/assets/img/default_avatars/user_60_square.png" width="60">
                         </a>
                 </div>
                             </div>
                             <div class="media-story">
                 <div class="feed-content ieSucks">
                     <div class="media-title item-title clearfix">
                         <div class="title-text">
                                 <a href="/view-personal/<%= reviews[i].userid %>"><%= reviews[i].name %></a> wrote a <b>review</b> 
                         </div>
                         <div class="time-stamp">
                             <%= reviews[i].day %>
                         </div>
                     </div>
                     <div class="item-description">
                     <div class="biz-rating biz-rating-large clearfix">
                     <div >
                 <div class="i-stars i-stars--regular-<%= reviews[i].rating %> rating-large" title="3.0 star rating">
                     <img class="offscreen" height="303" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png" width="84" alt="3.0 star rating">
                 </div>
                     </div>
                         <span class="rating-qualifier">
                     <%= reviews[i].day %>
                 </span>
             
                 </div>
                     <p class="js-content-expandable">
                             <span class="js-content-toggleable">
                                 <%= reviews[i].content %>
                             </span>
                     </p>
                     </div>
                 </div>
                             </div>
                         </li> 
                  <%  } %>
    
    
            </ul>
        </div>
    
            </div>
            
    
            
        </div>
    
    
            </div>
            <div class="user-details-overview_sidebar">
    
                <h3>About <%= user.name %></h3>
    
                <div class="ysection">
                        <ul class="ylist">
                <li>
                    <h4>Address</h4>
                    <p><%= user.address %></p>
                    <p><%=user.city %>, <%=user.state %> <%= user.zipcode %></p>
                </li>
                <li>
                    <h4>Phone Number</h4>
                    <p><%= user.phone %></p>
                
                </li>
                <li>
                    <h4>Website</h4>
                    <p><%= user.website %></p>
                </li>
                <li>
                  <h4>Description</h4>
                  <p> <%= user.description %></p>
                </li>
                <li>
                    <img alt="Map" height="135" src="https://maps.googleapis.com/maps/api/staticmap?scale=2&amp;center=33.740201%2C-117.819464&amp;language=None&amp;zoom=15&amp;markers=scale%3A2%7Cicon%3Ahttps%3A%2F%2Fyelp-images.s3.amazonaws.com%2Fassets%2Fmap-markers%2Fannotation_64x86.png%7C33.740201%2C-117.819464&amp;client=gme-yelp&amp;sensor=false&amp;size=286x135&amp;signature=QhdB1LLWV0fsSZ2xhN_-8eZenZw=" width="286">
                </li>
        </ul>
    
                </div>
    
                    
    
            </div>
        </div>
        </div>
        </div>
    
    
            
                        </div>
                    </div>
                    </body>
                    </html>
<!-- <!DOCTYPE HTML>
<html>
  <head>
    <title>ReviewR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/homepage/5a57af5e7478/assets/css/homepage-pkg.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="https://s3-media4.fl.yelpcdn.com/assets/2/www/css/318398ec09ec/www-pkg.css"> <!--<![endif]-->
    <!-- <link rel="stylesheet" type="text/css" media="all" href="https://s3-media1.fl.yelpcdn.com/assets/2/www/css/fde61d3d0fbf/biz_details-pkg.css">
  </head>
  <body>
    
  <noscript>
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/svg_icons/1421d1203d09/assets/sprite.css">
</noscript>
<div id = "navbar-custom">
    <nav  class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ReviewR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
          </div>
</nav>
</div>
<div class="top-shelf">
  <div class="content-container js-biz-details">
      
<div id="alert-container">

</div>


          <div class="hidden">
      <div itemscope itemtype="http://schema.org/LocalBusiness">
  

          <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
  <meta itemprop="ratingValue" content="5.0">
  <span itemprop="reviewCount">12</span>
</div>


      <meta itemprop="image" content="https://s3-media1.fl.yelpcdn.com/bphoto/RHjjYELEdr0N_gZK3TOpFQ/ls.jpg">

      <meta itemprop="priceRange" content="$$" />

      <meta itemprop="name" content="Bon Epi Macaron" />

      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">13812 Newport Ave</span><br><span itemprop="addressLocality">Tustin</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">92780</span><br><meta content="US" itemprop="addressCountry">
</address>

      <span itemprop="telephone">
  (657) 247-5558
</span>




</div>

</div>





<div class="biz-page-header clearfix">
  <div class="biz-page-header-left claim-status">

      



<div class="u-space-t1">
  <h1 class="biz-page-title embossed-text-white shortenough">
      <%= user.name %>
  </h1>
                      <div class="u-nowrap claim-status_teaser js-claim-status-hover">

  <a href="https://biz.yelp.com/signup/teu2igG-FtE455XXTbOE6Q/account?utm_campaign=claim_business&amp;utm_content=claim_status_link&amp;utm_medium=www&amp;utm_source=biz_page_unclaimed" class="js-biz-page-claim-link">
    
  </a>
</div>


 



</div>



<div class="biz-main-info embossed-text-white">
      <div class="rating-info clearfix">
                  <div class="biz-rating biz-rating-very-large clearfix" >
          



<div class="i-stars i-stars--large-5 rating-very-large" title="5.0 star rating">
  <img class="offscreen" height="303" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png" width="84" alt="5.0 star rating">
</div>


              <span class="review-count rating-qualifier">
      12 reviews
</span>

  </div>

              
<div class="rating-details">
  <a href="javascript:;" class="chiclet-link chiclet-link--with-text show-tooltip js-rating-details">
      <span aria-hidden="true" style="width: 14px; height: 14px;" class="icon icon--14-histogram icon--size-14 icon--currentColor">
<svg class="icon_svg">
  <use xlink:href="#14x14_histogram" />
</svg>
</span>         Details
  <span class="offscreen">, Opens a popup</span>

      <span class="tooltip-wrapper">
          <span class="tooltip">Rating details</span>
      </span>
  </a>
</div>

      </div>

  <div class="price-category">
              <span class="bullet-after">
      
  <span class="business-attribute price-range">$$</span>
  </span>
      <span class="category-str-list">
              <a href="/c/tustin-ca-us/desserts">Desserts</a>,
              <a href="/c/tustin-ca-us/macarons">Macarons</a>
</span>



          
<a class="edit-category chiclet-link chiclet-link--with-text show-tooltip" data-pop-uri="/edit_category_popup/teu2igG-FtE455XXTbOE6Q" data-ro-mode-action="edit categories" href="/biz_attribute?biz_id=teu2igG-FtE455XXTbOE6Q">
  <span aria-hidden="true" style="width: 14px; height: 14px;" class="icon icon--14-pencil icon--size-14 icon--currentColor">
<svg class="icon_svg">
  <use xlink:href="#14x14_pencil" />
</svg>
</span>        Edit
  <span class="offscreen">, Opens a popup</span>

  <span class="tooltip-wrapper">
      <span class="tooltip">Edit categories</span>
  </span>
</a>

  </div>
</div>


      <script>
      (function() {
          var main = null;

          var main=function(c){var d=window.performance||window.mozPerformance||window.msPerformance||window.webkitPerformance;if(d){var a=d.mark||d.mozPerformance||d.msMark||d.webkitMark;var b=d.clearMarks||d.mozClearMarks||d.msClearMarks||d.webkitClearMarks;if(typeof a==="function"&&typeof b==="function"){b.call(d,c);a.call(d,c)}}};

          if (main === null) {
              throw 'invalid inline script, missing main declaration.';
          }
          main("yelp_header_title");
      })();
</script>
  </div>
  <div class="biz-page-header-right u-relative">
          <div class="biz-page-actions nowrap">
  

<a class="ybtn ybtn--primary war-button" href="/business-profile">
      <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-star icon--size-24 icon--currentColor u-space-r-half icon--fallback-inverted">
<svg class="icon_svg">
  <use xlink:href="#24x24_star" />
</svg>
</span>Edit Profile
</a>



<span class="ybtn-group clearfix">

<a class="ybtn ybtn--small add-photo-button" href="/biz_user_photos/teu2igG-FtE455XXTbOE6Q/upload">
      <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-add-photo icon--size-18 icon--currentColor">
<svg class="icon_svg">
  <use xlink:href="#18x18_add_photo" />
</svg>
</span>
      Add Photo
</a>

  



<a class="ybtn ybtn--small share-icon js-business-send-to-friend" data-pop-uri="/send_to_friend/business/teu2igG-FtE455XXTbOE6Q" data-ro-mode-action="share a business" href="/biz_share/teu2igG-FtE455XXTbOE6Q">
      <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-share icon--size-18 icon--currentColor">
<svg class="icon_svg">
  <use xlink:href="#18x18_share" />
</svg>
</span>
      <span class="js-popup-link-text">Share</span>
      <span class="offscreen">, Opens a popup</span>
</a>

  




<a class="ybtn ybtn--small bookmark-button js-action-bar-bookmark-button not-bookmarked" data-bookmark-button-position="action-bar" data-ro-mode-action="add a bookmark" data-signup-object="biz_id:teu2igG-FtE455XXTbOE6Q" href="/bookmark/add_biz?biz_id=teu2igG-FtE455XXTbOE6Q&amp;return_url=%2Fbiz%2Fteu2igG-FtE455XXTbOE6Q">
      <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-bookmark icon--size-18 icon--currentColor">
<svg class="icon_svg">
  <use xlink:href="#18x18_bookmark" />
</svg>
</span>
      <span class="js-popup-link-text">Bookmark</span>
      <span class="offscreen">, Opens a popup</span>
</a>

</span>
</div>

<small class="u-absolute u-sticky-right">
      <span class="js-edit-bookmark-link u-pseudo-link" data-has-note="false">
</span>

</small>

  </div>

  
</div>

<div class="biz-page-subheader">
  <div class="mapbox-container">
          <div class="mapbox" data-lightbox-page-title="Directions - Bon Epi Macaron - Tustin, CA">
      <div class="mapbox-map">
  <a href="/map/bon-epi-macaron-tustin" class="biz-map-directions">
              
<img alt="Map" height="135" src="https://maps.googleapis.com/maps/api/staticmap?scale=2&amp;center=33.740201%2C-117.819464&amp;language=None&amp;zoom=15&amp;markers=scale%3A2%7Cicon%3Ahttps%3A%2F%2Fyelp-images.s3.amazonaws.com%2Fassets%2Fmap-markers%2Fannotation_64x86.png%7C33.740201%2C-117.819464&amp;client=gme-yelp&amp;sensor=false&amp;size=286x135&amp;signature=QhdB1LLWV0fsSZ2xhN_-8eZenZw=" width="286">


  </a>
  <div
      class="lightbox-map hidden"
      data-map-state="{&#34;overlay_width&#34;: 335, &#34;fit_to_geobox&#34;: false, &#34;should_draw_checkbox&#34;: false, &#34;max_zoomlevel&#34;: null, &#34;mo_map_possible&#34;: true, &#34;is_full_bleed&#34;: false, &#34;library&#34;: &#34;google&#34;, &#34;min_zoomlevel&#34;: null, &#34;service_areas&#34;: [], &#34;zoom&#34;: 15, &#34;markers&#34;: {&#34;directions_marker&#34;: {&#34;location&#34;: null, &#34;key&#34;: &#34;directions_marker&#34;, &#34;icon&#34;: {&#34;regular_uri&#34;: &#34;https://s3-media2.fl.yelpcdn.com/assets/2/www/img/79f63ebc20db/ico/yelp_map/directions@2x.png&#34;, &#34;scaled_size&#34;: [24, 32], &#34;anchor_offset&#34;: [12, 32], &#34;name&#34;: &#34;directions&#34;, &#34;active_origin&#34;: [0, 0], &#34;active_uri&#34;: &#34;https://s3-media2.fl.yelpcdn.com/assets/2/www/img/7249ab345ac8/ico/yelp_map/directions_highlighted@2x.png&#34;, &#34;regular_origin&#34;: [0, 0], &#34;size&#34;: [24, 32]}}, &#34;starred_business&#34;: {&#34;url&#34;: &#34;/biz/bon-epi-macaron-tustin&#34;, &#34;location&#34;: {&#34;latitude&#34;: 33.7402012, &#34;longitude&#34;: -117.819464}, &#34;key&#34;: &#34;starred_business&#34;, &#34;hovercard_id&#34;: &#34;ve0ZaDGhNjwXRch0nr_uQQ&#34;, &#34;resource_type&#34;: &#34;business&#34;, &#34;icon&#34;: {&#34;regular_uri&#34;: &#34;https://s3-media2.fl.yelpcdn.com/assets/2/www/img/7ffd8e34c576/ico/yelp_map/annotation_star@2x.png&#34;, &#34;scaled_size&#34;: [24, 32], &#34;anchor_offset&#34;: [12, 32], &#34;name&#34;: &#34;starred&#34;, &#34;active_origin&#34;: [0, 0], &#34;active_uri&#34;: &#34;https://s3-media2.fl.yelpcdn.com/assets/2/www/img/63e0e17c0579/ico/yelp_map/annotation_star_highlighted@2x.png&#34;, &#34;regular_origin&#34;: [0, 0], &#34;size&#34;: [24, 32]}}, &#34;current_location&#34;: {&#34;location&#34;: null, &#34;key&#34;: &#34;current_location&#34;, &#34;icon&#34;: {&#34;regular_uri&#34;: &#34;https://s3-media3.fl.yelpcdn.com/assets/2/www/img/56b9eee3f027/ico/yelp_map/current_location_dot@2x.png&#34;, &#34;scaled_size&#34;: [46, 46], &#34;anchor_offset&#34;: [23, 23], &#34;name&#34;: &#34;current_location&#34;, &#34;active_origin&#34;: [0, 0], &#34;active_uri&#34;: &#34;https://s3-media3.fl.yelpcdn.com/assets/2/www/img/56b9eee3f027/ico/yelp_map/current_location_dot@2x.png&#34;, &#34;regular_origin&#34;: [0, 0], &#34;size&#34;: [46, 46]}}}, &#34;top_biz_bounds&#34;: null, &#34;zoom_control_position&#34;: &#34;top_right&#34;, &#34;market&#34;: null, &#34;ad_pin_color&#34;: null, &#34;hoods&#34;: [], &#34;scrollwheel_zoom&#34;: false, &#34;center&#34;: {&#34;latitude&#34;: 33.7402012, &#34;longitude&#34;: -117.819464}}"
      data-business-id="teu2igG-FtE455XXTbOE6Q"
      data-location-dropper-uri="/locations"
      
  >
              <div class="map-wrapper">
      <div class="side-box">
          
<div class="get-directions-box island">
  <div class="get-directions-content">
          <h3>Get directions</h3>
<div class="contentbox">
  <form action="/map/bon-epi-macaron-tustin" method='GET' class="clearfix yform">
      <div class="section-header u-space-preventcollapse-block">    
      <button type="submit" value="submit" class="ybtn ybtn--primary ybtn--small get-directions-button"><span>Get directions</span></button>
  </form>

  <h3 class="result-header hidden"></h3>
  <div class="textual-results"></div>
</div>

  </div>

</div>

      </div>

  <div class="yelp-map-container directions-map">
      <div class="engine-container"></div>
  </div>
</div>


  </div>
</div>

      <div class="mapbox-text">
  <ul>
      <li class="u-relative">
          <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-marker icon--size-18 u-absolute u-sticky-top">
<svg class="icon_svg">
  <use xlink:href="#18x18_marker" />
</svg>
</span>
                  <a href="/biz_attribute?biz_id=teu2igG-FtE455XXTbOE6Q" class="link-more icon-wrapper mapbox-edit">
      <span aria-hidden="true" style="width: 14px; height: 14px;" class="icon icon--14-pencil icon--size-14 icon--linked u-space-r-half">
<svg class="icon_svg">
  <use xlink:href="#14x14_pencil" />
</svg>
</span><span>Edit</span>
  </a>
<div class="map-box-address u-space-l4">
      <strong class="street-address">
                      <address>
  <%= user.address %><br><%= user.city %>, <%= user.state %> <%= user.zipcode %>
</address>


      </strong>

      
</div>

      </li>

          <li class="clearfix">
              <div>
                  <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-directions icon--size-18">
<svg class="icon_svg">
  <use xlink:href="#18x18_directions" />
</svg>
</span>
                      <a href="/map/bon-epi-macaron-tustin" class="biz-directions">Get Directions</a>

              </div>
          </li>

          <li>
              <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-phone icon--size-18">
<svg class="icon_svg">
  <use xlink:href="#18x18_phone" />
</svg>
</span>
              
<span class="offscreen">Phone number</span>
<span class="biz-phone">
  <%= user.phone %>
</span>

          </li>
          <li>
            <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-phone icon--size-18">
<svg class="icon_svg">
<use xlink:href="#18x18_phone" />
</svg>
</span>
            
<span class="offscreen">Website</span>
<span class="biz-phone">
<a href="https://www."<%= user.website %>> <%= user.website %> </a>
</span>
  </ul>
</div>

</div>

      
      

      <span itemscope class="hidden" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/c/tustin-ca-us/food" itemprop="url">
                  <span itemprop="title">Food</span>
              </a>


      <span itemscope itemprop="child" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/c/tustin-ca-us/desserts" itemprop="url">
                  <span itemprop="title">Desserts</span>
              </a>


  </span></span>

      <span itemscope class="hidden" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/c/tustin-ca-us/food" itemprop="url">
                  <span itemprop="title">Food</span>
              </a>


      <span itemscope itemprop="child" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/c/tustin-ca-us/gourmet" itemprop="url">
                  <span itemprop="title">Specialty Food</span>
              </a>


      <span itemscope itemprop="child" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/c/tustin-ca-us/macarons" itemprop="url">
                  <span itemprop="title">Macarons</span>
              </a>


  </span></span></span>

  </div>
  <div class="showcase-container">
          

<div class="showcase-container_inner showcase showcase-3-photo">

  <div class="top-shelf-grey"></div>

  <div class="showcase-footer-links">
      
  </div>



  <div class="lightbox-media-parent" data-ad-logging-csrf="25bf1718e3791f0292cb0fa344f709d1755138f08e1e8c7597e050ce18e5196b" data-ad-logging-uri="/ad_acknowledgment" data-ga-path="media_lightbox/servlet:biz_details/type:biz" data-logging-csrf="4f5a9f9f1a52e25f1d402cd1bfff5a64ec3aca42730e544d023d61f15743672a" data-logging-uri="/biz_photos/teu2igG-FtE455XXTbOE6Q/log_views" data-media-count="20" data-media-url="/biz_photos/get_media_slice/teu2igG-FtE455XXTbOE6Q" data-starting-index="0">
      <div class="showcase-photos">
                  




      </div>
  </div>

</div>

  </div>
</div>

  </div>
</div>


</body>
</html> --> 