
<!DOCTYPE HTML>
<html>
  <head>
    <title>ReviewR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/homepage/5a57af5e7478/assets/css/homepage-pkg.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="https://s3-media4.fl.yelpcdn.com/assets/2/www/css/318398ec09ec/www-pkg.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://s3-media3.fl.yelpcdn.com/assets/2/www/css/015ac64acd6a/user_details-pkg.css">
    
  </head>
  <body>
    
  <noscript>
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/svg_icons/1421d1203d09/assets/sprite.css">
</noscript>
<div id = "navbar-custom">
    <nav  class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">ReviewR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <% if(login == 'true'){ %>
              <li class="nav-item">
                <a class="nav-link" href="/personal">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
              </li>
              <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/signup-page">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login-page">Login</a>
                  </li>
            <% } %>
            </ul>
          </div>
</nav>
</div>
<% if (user != undefined){ %>
<div class="main-content-wrap main-content-wrap--full">
        <div class="top-shelf top-shelf-grey">
                <div class="content-container">
                    
        <div id="alert-container">
    
        </div>
    
    
                        <div class="user-profile_container">
            <div class="user-profile_avatar">
                <div class="photo-slideshow photo-slideshow--full-width photo-slideshow--rounded js-photo-slideshow-user-details">
                    <div class="photo-slideshow_slide is-active" style="background-image: url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/7e4e0dfd903f/assets/img/default_avatars/user_large_square.png);">
                        <div class="photo-slideshow_image">
                                        <a href="/user_photos?userid=MAV7Ljn1cU4HxhSbb6PXrg">
                
                    <img class="photo-box-img" height="250" src="https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/7e4e0dfd903f/assets/img/default_avatars/user_large_square.png" width="250">
    
    
            </a>
    
    
                        </div>
                            
    
      
    
                    </div>
                </div>
            </div>
            <div class="user-profile_content-wrapper arrange arrange--bottom arrange--30">
                <div class="user-profile_avatar-dummy arrange_unit" aria-hidden="true"></div>
                <div class="user-profile_info arrange_unit">
                    <h1><%= user.name %></h1>
                        <h3 class="user-location alternate"><%= user.city %>, <%=user.state %></h3>
                    <div class="clearfix">
                        
    
        <ul class="user-passport-stats">
            <li class="review-count">
                <span aria-hidden="true" style="fill: #f15c00; width: 24px; height: 24px;" class="icon icon--24-review icon--size-24">
        <svg class="icon_svg">
            <use xlink:href="#24x24_review" />
        </svg>
    </span>
                <strong><%= user.numreviews %></strong> Reviews
            </li>
        </ul>
    </div>
                </div>
                <div class="user-profile_actions arrange_unit">
                        <ul class="action-link-list">
        </ul>
    
                </div>
            </div>
        </div>
                </div>
        </div>
                        <div id="super-container" class="content-container">
    
        <div class="clearfix layout-block layout-n user-details_container">
        <div class="column column-alpha user-details_sidebar">
                    <div class="ysection">
                        
    
        <div class="titled-nav js-titled-nav">
            
        <input id="titled-nav-db377759-3032-4042-b221-4dce77b93849" class="titled-nav-dropdown_handler" type="checkbox" role="presentation">
    
        <div class="titled-nav-dropdown hidden-non-responsive-block responsive-hidden-large">
            <label for="titled-nav-db377759-3032-4042-b221-4dce77b93849" class="titled-nav-dropdown_trigger">
                <span class="arrange arrange--middle titled-nav-dropdown_content">
                    <span class="arrange_unit arrange_unit--fill titled-nav-dropdown_shadow">
                        <span class="titled-nav-dropdown_faded-title">
                                <strong><%= user.name %>'sProfile</strong>
    
                            Profile Overview
    
                        </span>
                    </span>
    
                    <span class="arrange_unit titled-nav-dropdown_icon">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-chevron-down icon--size-24 titled-nav-dropdown_expand">
        <svg class="icon_svg">
            <use xlink:href="#24x24_chevron_down" />
        </svg>
    </span>
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-chevron-up icon--size-24 titled-nav-dropdown_collapse">
        <svg class="icon_svg">
            <use xlink:href="#24x24_chevron_up" />
        </svg>
    </span>
                    </span>
                </span>
            </label>
        </div>
            <div class="titled-nav_menus">
            <div class="titled-nav_menu">
                    <div class="titled-nav-header">
            <div class="arrange arrange--top">
                <div class="arrange_unit arrange_unit--fill">
                    <div class="titled-nav-header_content">
                        <h3><%= user.name %>'s Profile</h3>
                    </div>
                </div>
    
                <div class="arrange_unit">
                </div>
    
            </div>
        </div>
                <ul class="titled-nav_items">
        <li class="titled-nav_item">
            <a class="titled-nav_link is-active" href="/user_details?userid=MAV7Ljn1cU4HxhSbb6PXrg">
                    <div class="titled-nav_link-content arrange arrange--middle arrange--6">
                <div class="arrange_unit">
                    <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-profile icon--size-24 titled-nav_icon">
        <svg class="icon_svg">
            <use xlink:href="#24x24_profile" />
        </svg>
    </span>
</div>
            <div class="arrange_unit arrange_unit--fill">
                <span class="titled-nav_link-label">Profile Overview</span>
            </div>
        </div>
            </a>
        </li>
    </ul>
            </div>
                <div class="titled-nav-header responsive-hidden-large" role="presentation"></div>
            </div>
        </div>  
                    </div>
        </div>
        <div class="column column-beta ">
        <div class="user-details-overview">
            <div class="user-details-overview_activity">
                        <div class="user-details-overview_reviews">
                        <div class="review-drafts-container js-review-drafts-container">
        </div>
        </div>
                        <div class="user-details-overview_self-feed">
            <div class="ysection clearfix activity-feed js-activity-feed">
                <div class="section-header u-space-bottom-none">
                    <h2>Recent Activity</h2>
                </div>
                    <div class="feeds feed-module">
            <ul class="content-list">
     <% for(var i=reviews.length-1; 0<=i; i--) {%>
           <li data-section-id="self">
        <ul class="ylist ylist-bordered">
        <li class="review-block media-block media-block--12" data-item-type="review">
                <div class="media-avatar">
    <div class="photo-box pb-60s">
            <a class="js-analytics-click" data-analytics-label="user-photo" href="/user_details?userid=MAV7Ljn1cU4HxhSbb6PXrg">
                <img alt="" class="photo-box-img" height="60" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/514f6997a318/assets/img/default_avatars/user_60_square.png" width="60">
            </a>
    </div>
                </div>
                <div class="media-story">
    <div class="feed-content ieSucks">
        <div class="media-title item-title clearfix">
            <div class="title-text">
                    <%= user.name %> wrote a <b>review</b> for     <a class="biz-name js-analytics-click" data-analytics-label="biz-name" href="/view-business/<%=reviews[i].business %>" data-hovercard-id="kWUGY-1j3avDxhSOxnjEvA"><%= reviews[i].businessname %></a>
            </div>
            <div class="time-stamp">
                <%= reviews[i].day %>
            </div>
        </div>
        <div class="item-description">
        <div class="biz-rating biz-rating-large clearfix">
        <div >
    <div class="i-stars i-stars--regular-<%= reviews[i].rating %> rating-large" title="3.0 star rating">
        <img class="offscreen" height="303" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png" width="84" alt="3.0 star rating">
    </div>
        </div>
            <span class="rating-qualifier">
        <%= reviews[i].day %>
    </span>

    </div>
        <p class="js-content-expandable">
                <span class="js-content-toggleable">
                    <%= reviews[i].content %>
                </span>
        </p>
        </div>
    </div>
                </div>
            </li> 
     <%  } %>
            </ul>
        </div>
    
            </div>   
        </div>
           </div>
            <div class="user-details-overview_sidebar">
                <h3>About <%= user.name %></h3>
                <div class="ysection">
                        <ul class="ylist">
                <li>
                    <h4>Location</h4>
                    <p><%=user.city %>, <%=user.state %></p>
                </li>
        </ul>
    </div>
            </div>
        </div>
        </div>
        </div>
                        </div>
                    </div>
                <% } %>
                    </body>
                    </html>